<footer>
    <p>Author: Rohan Sharma</p>
    <p>About: Hey Guys, this is my capstone project to help solidify my node, express, and EJS skills</p>
    <p>I hope you enjoy and I hope that one day I can build something even greater!</p>
    <p>Date of Creation: June 20th 2024</p>
</footer>
</body>
</html>